body {
    font-family: 'Nerko One', cursive;
    // background-image: url('https://img.112.international/original/2020/11/26/292322.jpg');
    background-size: cover;
    background-position: center;
    height: 50vh;
    background-repeat: no-repeat;
}

.container {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 0 auto;

    h3 {
        text-align: center;
        font-size: 35px;
    }

    #form1 {
        display: flex;
        flex-direction: column;

        input {
            height: 35px;
            outline: none;
            border: 1px solid rgb(196, 190, 190);
            border-radius: 4px;
            margin-bottom: 20px;
        }

        #btn_sign_up {
            cursor: pointer;
            margin-top: 10px;
            background-color: rgb(56, 121, 37);
            font-size: 20px;
            color: white;
            font-weight: bold;

            // &:hover {
            //     background-color: rgb(56, 121, 37);
            // }
        }
    }

    .info {
        background-color: red;
        color: white;
        width: 200px;
        border-radius: 2px;
        display: none;
    }
}

.content {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 0 auto;
    display: none;

    h3 {
        text-align: center;
        font-size: 35px;
    }

    #form2 {
        display: flex;
        flex-direction: column;

        input {
            height: 35px;
            outline: none;
            border: 1px solid rgb(196, 190, 190);
            border-radius: 4px;
            margin-bottom: 20px;
        }

        #btn_sign_in {
            background-color: green;
            cursor: pointer;
            margin-top: 10px;
            font-size: 20px;
            color: white;
            font-weight: bold;

        }
    }

    .info {
        background-color: red;
        color: white;
        width: 200px;
        border-radius: 2px;
        display: none;
    }
}